<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--  Google Icons Outline-->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <!--  Google Fonts Abel -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home_styles.css">
    <title>OverseasBooks</title>
</head>

<body>
    <header>
        <div class="hamburgesa">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="navBar">
            <div class="contenedor">
                <input class="searchBar" type="search" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </nav>


        <a href="/" class="logo"><img class="imglogo" src="https://i.ibb.co/rZdLRfr/1-modified-1.png" alt="1-modified-1"></a>

        <span class="material-icons">
            person
            </span>

        <a href="/shoppingcart3" class="carrito"><span class="material-icons">
            shopping_cart
            </span></a>
            

    </header>

    <nav class="lowerNavBar">
        <ul class="enlaces">
            <li class="liHeader"><a href="">Best sellers</a></li>
            <li class="liHeader"><a href="">Lanzamientos</a></li>
            <li class="liHeader"><a href="">Recomendaciones</a></li>
            <li class="liHeader"><a href="">Clásicos</a></li>
            <li class="liHeader"><a href="">Mis Compras</a></li>
        </ul>
        </div>
    <main>
        <section>
            <div>
                <div class="columna-a-derecha">
                    <h1 class="productTitle">
                        The Successful Mind: Tools to Living a Purposeful, Productive, and Happy Life
                    </h1>
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span>(99)</span>
                    </div>
                    <div class="columna-a-izquierda">
                        <div class="compartirIcono">
                            <span class="material-symbols-outlined">
                                share
                            </span>
                        </div>
                        <img class="imagenProducto" src="/img/images/theSuccessfulMind1.jpg" alt="imagen">
                    </div>

                    <div class="format">
                        <div class="fisico">
                            <span>Físico</span>
                            <br>
                            <span class="precio">$3400</span>
                        </div>
                        <div class="digital">
                            <span>Digital</span>
                            <br>
                            <span class="precio">$1200</span>
                        </div>
                    </div>
        </section>
        <br>
        <div class="line"></div>
        <div class="price">
            <h2>$1200</h2>
        </div>
        <div class="deliveryDate">
            <p>
                <i class="fa-solid fa-truck"></i>
                Llega el <strong>Miércoles, 11 de Enero</strong>
            </p>
        </div>
        <div class="deliveryLocation">
            <p>
                <i class="fa-solid fa-location-dot"></i>
                Enviar a Buenos Aires, Argentina
            </p>
        </div>
        <div class="stockDisponible">
            <p>
                Stock Disponible
            </p>
        </div>
        <div class="cantidad">
            <span>Cantidad:</span>
            <div>
                <span class="cantNumero">1</span>
                <span class="cantDisponible">(43 disponibles)</span>
            </div>
        </div>
        <div class="divBotonCarrito">
            <button type="submit" class="botonCarrito">
                <span class="botonCarritoInterior">Añadir al carrito</span>
            </button>
        </div>
        <div class="divBotonCompra">
            <button type="submit" class="botonCompra">
                <span class="botonInterior">Comprar ahora</span>
            </button>
        </div>
        <br>
        <div class="transaccionSegura">
            <i class="fa-solid fa-lock"></i>
            <span>Compra Protegida</span>
        </div>
        <!-- Haciendo carousel de libros recomendados -->
        <div class="carousel">
            <h2>Libros que podrían gustarte</h2>
            <ol role="list" width="2310px">
                <a href="#">
                    <li class="carouselCard" role="listitem" style="width: 150px; margin-left: 15px;">
                        <div>
                            <a href="#" style="text-decoration: none; text-decoration-style: none;">
                                <div>
                                    <img src="/img/images/41eXS4ov5sL._SY291_BO1,204,203,200_QL40_FMwebp_.webp" alt=""
                                        style="max-height: 150px;">
                                </div>
                            </a>
                            <a href="#">
                                <div class="tituloLibro">Crush Your Kriptonite</div>
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="reviews">318 reviews</div>
                                <div class="precio">$ 3500</div>
                            </a>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="carouselCard" role="listitem" style="width: 150px; margin-left: 15px;">
                        <div>
                            <a href="#" style="text-decoration: none; text-decoration-style: none;">
                                <div>
                                    <img src="/img/images/41Wj88kCdgL._SY291_BO1,204,203,200_QL40_FMwebp_.webp" alt=""
                                        style="max-height: 150px;">
                                </div>
                            </a>
                            <a href="#">
                                <div class="tituloLibro">Mystic and the Secret of ...</div>
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <div class="reviews">251 reviews</div>
                                <div class="precio">$ 3300</div>
                            </a>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="carouselCard" role="listitem" style="width: 150px; margin-left: 15px;">
                        <div>
                            <a href="#" style="text-decoration: none; text-decoration-style: none;">
                                <div>
                                    <img src="/img/images/B08N9P9MDQ.01._SCLZZZZZZZ_SX500_.jpg" alt=""
                                        style="max-height: 150px;">
                                </div>
                            </a>
                            <a href="#">
                                <div class="tituloLibro">Productivity Is For Robots</div>
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="reviews">272 reviews</div>
                                <div class="precio">$ 2600</div>
                            </a>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="carouselCard" role="listitem" style="width: 150px; margin-left: 15px;">
                        <div>
                            <a href="#" style="text-decoration: none; text-decoration-style: none;">
                                <div>
                                    <img src="/img/images/atomichabits.webp" alt="imagenProducto"
                                        style="max-height: 150px;">
                                </div>
                            </a>
                            <a href="#">
                                <div class="tituloLibro">Atomic Habits. A book by James ...</div>
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="reviews">647 reviews</div>
                                <div class="precio">$ 2800</div>
                            </a>
                        </div>
                    </li>
                </a>
            </ol>
        </div>

        <!-- Sección Resumen del Libro -->

        <section class="resumenLibro">
            <div class="resumenTitulo">
                <span>Resumen del Libro</span>
            </div>
            <p>
                <span class="pNegrita">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae aspernatur voluptatibus.
                </span>
            </p>
            <p>
                <span class="pNegrita">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum totam provident neque deleniti
                    repellendus accusantium quas ipsam, dolor esse quaerat similique quia perspiciatis, consequuntur
                    voluptates quo, numquam facere incidunt.
                </span>
            </p>
            <p>
                <span class="pNormal">
                    Saepe, praesentium. Necessitatibus laudantium tempora dolor veritatis.
                </span>
            </p>
        </section>





        </div>




        <article>

        </article>






        </div>

        <!-- Header Uli
<header>
        <div class="hamburgesa">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="navBar">
            <div class="contenedor">
                <input class="searchBar" type="search" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </nav>



        <img class="logo" src="https://i.ibb.co/rZdLRfr/1-modified-1.png" alt="1-modified-1">

        <span class="material-icons">
            person
            </span>

        <a href="/shoppingcart3" class="carrito"><span class="material-icons">
            shopping_cart
            </span></a>
        
 Google Icons FilledPara poner en el header -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->




        </section>
    </main>
</body>

</html>