<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overseas</title>
    <link rel='stylesheet' href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
 <main>
  <div class="h4yxContenedor">
    <h4>Carrito de compras</h4>
    <i class="fa-solid fa-x"></i>
  </div>

    <div class="prodYSubContenedor">
        <p class="prod">PRODUCTO</p>
        <p class="sub">SUBTOTAL</p>
    </div>

    <article class="productos">
      <div class="imgYDescripContenedor">
        <div class="imagen">
            <img src="/images/libro.jpg">
        </div>
        <div class="descripcionYPrecio">
            <p class="descripcion">Harry Potter y la piedra filosofal</p>
            <p class="precio">$2999</p>
            <div class="agregarContenedor">
                <div class="cantidad">
                    <p>1</p>
                </div>
                <div class="sumarORestar">
                    <p>+</p>
                    <p>-</p>
                </div>
            </div>
        </div>
      </div>
      <i class="fa-solid fa-trash"></i>
    </article>
    <article>
        <div class="subYPrecioContenedor">
            <h5 class="subtotal">Subtotal (sin envio)</h5>
            <p class="precio">$2999</p>
        </div>
    </article>
    <article>
        <p class="textocp">Entregas para el codigo postal: <input type="number" placeholder="ej. 1426"></p>
        <h4 class="envio"><i class="fa-solid fa-truck"></i> Envio a domicilio</h4>
        <div class="opcion1Y2">
            <div class="opcion1">
                <div class="iconoYopcion">   
                    <input type="radio" name="opcion">
                    <div class="opcion">
                        <h4>Opcion 1</h4>
                        <p>Llega el viernes</p>
                    </div>            
                </div>
                <h4 class="precioenvio">$500</h4>
            </div>
            <div class="opcion2">
                <div class="iconoYopcion">   
                    <input type="radio" name="opcion">
                    <div class="opcion">
                        <h4>Opcion 2</h4>
                        <p>Llega el martes</p>
                    </div>            
                </div>
                <h4 class="precioenvio">$400</h4>
            </div>
        </div>
        <h4 class="retiro"><i class="fa-solid fa-location-dot"></i></i> Retirar por</h4>
        <div class="opcion3">
            <div class="iconoYopcion">   
                <input type="radio" name="opcion">
                <div class="opcion">
                    <h4>Punto de retiro</h4>
                    <p>Retiras el sabado</p>
                </div>            
            </div>
            <h4 class="precioretiro">$200</h4>
        </div>
    </article>
    <article>
        <div class="totalprecio">
            <h3>Total:</h3>
            <h3>$3500</h3>
        </div>
        <div class="botoncentrado"><button type="submit" class="boton"><h4 class="textboton">INICIAR COMPRA</h4></button></div>
        <a href="a"><p class="vermas">VER MAS PRODUCTOS</p></a>
    </article>
 </main>
</body>
</html>