* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-color: rgb(201, 228, 202);
    font-family: 'Abel', sans-serif;
    padding: 20px
}

p {
    font-size: 20px;
}

.h4yxContenedor {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.prodYSubContenedor {
    display: flex;
    justify-content: space-between;
    border-color: black;
    padding: 10px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.imgYDescripContenedor {
    display: flex;
}

.descripcionYPrecio {
    align-self: center;
    padding: 10px;
}

.descripcion, .precio, .agregarContenedor {
    padding: 5px;
}

.descripcion {
    font-weight: bold;
}

.agregarContenedor {
    display: flex;
}

.cantidad {
    align-self: center;
    border: solid 1px black;
    padding: 5px;
}

.sumarORestar {
    padding: 8px
}

.productos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-trash {
    align-self: center;
}

.subYPrecioContenedor {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 20px;
}

.subtotal, .precio {
    align-self: center;
}

.textocp {
    padding: 10px;
}

.envio, .opcion, .retiro {
    padding: 10px;
}

.opcion1Y2, .opcion3 {
    border: solid 1px gray;
    padding: 10px;
}

.opcion1, .opcion2, .opcion3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.precioenvio, .precioretiro {
    align-self: center;
}

.opcion1 {
    border-bottom: solid 1px gray;
}

.iconoYopcion {
    display: flex;
}

.totalprecio {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border-top: solid 1px gray;
}

.boton {
    background-color: rgb(135, 187, 162);
    width: 200px;
    height: 30px;
    border: 5px;
    padding-bottom: 4px;
    justify-content: center;
}

.botoncentrado {
    text-align: center;
    padding: 20px;
}

.boton:hover {
    background-color: rgb(128, 163, 146);
}

.textboton, .vermas {
    text-align: center;
    font-size: 16px;
}

.vermas {
    text-decoration: underline;
    color: black;
}

 /* SHOPPINGCART2 */

 .subYPrecioContenedor2 {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px gray;
    padding: 20px;
}

.cpYCalcularEnvio {
    padding: 10px;
    border-bottom: solid 1px gray;
}

.calcularenvio {
    padding: 5px;
    color: rgb(59, 96, 100);
}

 /* SHOPPINGCART3 */

 .textocarritocompras {
    border: solid 1px rgb(59, 96, 100);
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: rgb(135, 187, 162);
 }

 .imagenlogo {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    order: -1;
 }


 /* Header Uli */

 /* HEADER */

header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-color: #e4efe4;
    padding: 10px;
    
}

header .navBar {
   
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 4;
}

header .navBar .searchBar {
    display: flex;
    width: 100%;
    
    height: 30px;
   padding-right: 32px;
   padding-left: 10px;

}


header .navBar .fa-magnifying-glass {
    position: absolute;
    right: 1rem;
    top: 0.40rem;
}

header .contenedor {
    position: relative;
    width: 100%;
    max-width: 350px; 
}




header .logo {
    width: 20%;
    max-width: 100px;
    max-height: 100px;
    order: -1;
}

header .searchBar {
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(187, 187, 187);
}

header .hamburgesa {
    order: 1;
}

header .userIcon {
    order: 1;
}

.banner .bannerImg {
    width: 100%;
    position: relative;
    top: -4px;
}



  .lowerNavBar {
    display: none;
  }

  .enlaces {
    display: flex;
   justify-content: space-around;
   list-style: none;
   flex-grow: 3;
   height: 50px;
   text-align: center;
   font-size: 17px;
   
}

.lowerNavBar .enlaces a {
    text-decoration: none;
    justify-content: center;
  
   
}

.carrito {
    text-decoration: none;
    color: black;
}

.liHeader {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #C9E4CA;
    
}

.liHeader:hover {
    background-color: #3B6064;
    transition: 0.3s;
    
}

.liHeader:hover a{
    color: white;
    transition: 0.3s;
}

.imglogo {
    width: 100%;
}
