<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>403</title>
</head>
<body>
    <div style="display:flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 180px;">
        <i class="fa-solid fa-lock" style="font-size: 40px;"></i>    
        <h1>Error 403. Forbidden.</h1>
        <a href="/"><button style="font-size: 18px;">Home</button></a>
    </div>
</body>
</html>