<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  
<body class="body-password">
  <%- include('partials/header.ejs') %>
  <form class="formulario">
    <h1>Recuperar Contraseña</h1>
    <form id="password-form">
      <p>Introduzca el correo con el que se registró:</p>
      <label for="email">Correo Electrónico:</label>
      <input class="input-register" type="email" id="email" name="email" required>
      <br>
      <div id="message"></div>
      <input type="submit" value="Enviar">
    </form>
    <%- include('partials/footer.ejs') %>

    <%- include('partials/lowerFooter.ejs') %>
</body>
</html>