<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs') %>
     
<body class="body-login">
    <%- include('partials/header.ejs') %>
 <form class="formulario" method="POST" action="/register" enctype="multipart/form-data">
    
    <h1 class="h1-login">Registrate</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Nombre" name="nombre">
    </div>

    <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Apellido" name="apellido">
            
    </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico" name="email">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña" name="password">

         </div>

         <div class="input-contenedor">
            <i class="fa-solid fa-image icon"></i>
             <input type="file" placeholder="imagen" name="avatar">
         
         </div>
         <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?<a class="link" href="login">Iniciar Sesion</a></p>
     </div>
    </form>
    <%- include('partials/footer.ejs') %>

    <%- include('partials/lowerFooter.ejs') %>
</body>
</html>