<div id="contactoFooter">
<br>
<h1>Contactate con nosotros</h1>
<br>
    <p><a href="mailto:info@overseas.com">info@overseas.com</a></p>
    <br>
   
        <p>+54 911 2453 4311 3243</p>
    <br>
    <button id="buttonHide" onclick="hide()">X</button>

</div>