<div id="cookiesExplained">

    <br>
    <h1>Sobre el uso de Cookies</h1>
    <br>

    <p>Este sitio web utiliza los siguientes tipos de cookies:
    </p>

    <br>

    <p> Cookies técnicas, para mejorar la experiencia del usuario en el manejo del sitio. Entre ellas están las que
    almacenan terceros como redes sociales, a fin de que el usuario pueda compartir en ellas contenidos obtenidos en
    este sitio web; o bien las que almacenan sitios webs servicios como Youtube, donde alojamos algunos de nuestros
    vídeos: unas y otras se rigen por las respectivas políticas de cookies de dichos terceros.</p>
    <br>

        <p>
            Cookies de personalización, a fin de ofrecerle una navegación ajustada al idioma, tipo de navegador o ubicación
            geográfica, entre otros.
        </p>

        <br>
        <p>
            Cookies analíticas, que permiten, mediante el seguimiento del comportamiento del usuario, recabar información
    estadística acerca de la actividad de los sitios web; este fin, unido al de obtención de perfiles de navegación de
    los usuarios, permite introducir mejoras en la experiencia de manejo.

        </p>
   
<p>
    Las cookies son de gran utilidad para el usuario, pues gracias a ellas, muchas de sus funcionalidades de su empleo
    no serán posibles. Las cookies utilizadas no son nocivas y pueden ser utilizadas sólo durante la sesión del usuario,
    durante un periodo determinado o permanentemente.
</p>

<br>

<p>
    Esta política de cookies se actualiza de modo periódico y se aplica también a todos los demás sitios web y dominios
    de nuestro grupo.
</p>
    

    




    <button id="buttonHide" onclick="hide()">X</button>

</div>