<footer>

    <article class="equipo">
        <h3>Equipo</h3>

        <ul>
            <li class="liFooter"> <a href="#" class="aFooter"> Quienes Somos</a></li>
            <li class="liFooter"> <a href="#" class="aFooter"> Trabaja con Nosotros</a></li>
            <li class="liFooter"> <a href="#" class="aFooter"> Contacto </a></li>
        </ul>

    </article>

    <article class="legales">
        <h3>Legales</h3>

        <ul>
            <li class="liFooter"> <a href="#" class="aFooter"> Terminos</a></li>
            <li class="liFooter"> <a href="#" class="aFooter"> Cookies</a></li>
            <li class="liFooter"> <a href="#" class="aFooter"> Reembolsos</a></li>
        </ul>

    </article>

    <article class="bannersFooter">

        <article class="contenedorImagenesFooter">
            <img class="cardsFooter"
                src="https://www.psaparts.co.uk/i/icons/minimal-credit-card-icons-no-paypal.png" alt="cards">
        </article>

        <article class="contenedorImagenesFooter">
            <img class="trustFooter"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Trustpilot_Logo_%282022%29.svg/1280px-Trustpilot_Logo_%282022%29.svg.png"
                alt="trustpilot">
        </article>

        <article class="contenedorImagenesFooter">
            <img class="mediaFooter"
                src="https://iamdistrict54.com/wp-content/uploads/2020/05/facebook-twitter-instagram-logo-png-5.png"
                alt="media">
        </article>

    </article>

</footer>