<header>
    <div class="hamburgesa">
        <i class="fa-solid fa-bars"></i>
    </div>

    <nav class="navBar">
        <div class="contenedor">
            <input class="searchBar" type="search" placeholder="Buscar...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

    </nav>


<a href="/" class="imagenlogo" style="width:200px;">
    <img class="logo" src="/images/logo.png" alt="1-modified-1">
</a>

<% if(!locals.isLogged) { %>

    <a href="/register" class='login'><span class="fa-regular fa-user">
    </span></a>
    <a href="/register" class="textdecoration"><p>Registrate</p></a>

    <a href="/login" class='login'><span class="material-icons">
        person
        </span></a>
        <a href="/login" class="textdecoration"><p>Inicia sesion</p></a>

        <% } else { %>

    <a href="/cart" class="carrito"><span class="material-icons">
        shopping_cart
        </span></a>
        <a href="/cart" class="textdecoration"><p>Compra</p></a>

    <a href="/products/create" class="carrito"><span class="fa-regular fa-square-plus">

        </span></a>
        <a href="/products/create" class="textdecoration"><p>Crea</p></a>

    <a href="/products/edit/" class="carrito"><span class="fa-regular fa-pen-to-square">

    </span></a>
    <a href="/products/edit/" class="textdecoration"><p>Edita</p></a>

    <a href="a"><span>
        <img src="/images/avatars/<%= locals.userLogged.avatar %>" style="width:40px;">
        </span></a>
        <a href="/" class="textdecoration"><p>Hi, <%= locals.userLogged.nombre  %></p></a>
        <% } %>


</header>