<header>
    <div class="hamburgesa">
        <i class="fa-solid fa-bars"></i>
    </div>

    <nav class="navBar">
        <form class="contenedor" action="/products/search" method="POST">
            <input name="search" class="searchBar" type="text" placeholder="Buscar...">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </nav>


    <a href="/" class="imagenlogo" style="width:200px;">
        <img class="logo" src="/images/logo.png" alt="1-modified-1">
    </a>


    <% if( !locals.isLogged ) { %>

        <a href="/user/register" class='login'><span class="fa-regular fa-user">
            </span></a>
        <a href="/user/register" class="textdecoration">
            <p>Registrate</p>
        </a>

        <a href="/user/login" class='login'><span class="material-icons">
                person
            </span></a>
        <a href="/user/login" class="textdecoration">
            <p>Inicia sesion</p>
        </a>

        <% } else { %>

            <% if( !locals.isAdmin ) { %>


                <a href="/products/cart" class="carrito"><span class="material-icons">
                        shopping_cart
                    </span></a>
                <a href="/products/cart" class="textdecoration">
                    <p>Compra</p>
                </a>

                <a href="/user/profile"><span>
                        <img src="/images/avatars/<%= locals.userLogged.avatar %>" style="width:40px;">
                    </span></a>
                <a href="/user/profile" class="textdecoration">
                    <p>Hi, <%= locals.userLogged.first_name %>
                    </p>
                </a>

                <!-- Botón Logout -->
                <div>
                    <a href="/user/logout"
                        style="display: flex; justify-content : center; align-items: center; text-decoration: none; color: #551a8b;">
                        <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 10px;"></i>
                        <p>Log out</p>
                    </a>
                </div>

                <% } else { %>

                    <a href="/products/create" class="carrito"><span class="fa-regular fa-square-plus">

                        </span></a>
                    <a href="/products/create" class="textdecoration">
                        <p>Crea</p>
                    </a>

                    <a href="/products/edit/" class="carrito"><span class="fa-regular fa-pen-to-square">

                        </span></a>
                    <a href="/products/edit/" class="textdecoration">
                        <p>Edita</p>
                    </a>

                    <a href="/user/profile"><span>
                            <img src="/images/avatars/<%= locals.userLogged.avatar %>" style="width:40px;">
                        </span></a>
                    <a href="/user/profile" class="textdecoration">
                        <p>Hi, <%= locals.userLogged.nombre %>
                        </p>
                    </a>

                    <!-- Botón Logout -->
                    <div>
                        <a href="/user/logout"
                            style="display: flex; justify-content : center; align-items: center; text-decoration: none; color: #551a8b;">
                            <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 10px;"></i>
                            <p>Log out</p>
                        </a>
                    </div>
                    <% } %>
                        <% } %>

                    <script src="/js/searchBar.js"></script>



</header>