<section class="lowerFooter">

    <img class="logoTrust"
        src="https://images.ctfassets.net/b7g9mrbfayuu/53sI9eT6ZOwB5ZegxFJMN0/e54e1f55e18423fd615a0deebe5697c0/Trustpilot_logo_Round_Star_BlueBG_420x420.png"
        alt="trustLogo">
    <img class="logoSocial"
        src="https://iamdistrict54.com/wp-content/uploads/2020/05/facebook-twitter-instagram-logo-png-5.png"
        alt="social">
    <img class="logoCards" src="https://www.psaparts.co.uk/i/icons/minimal-credit-card-icons-no-paypal.png"
        alt="cards">
</section>