<nav class="lowerNavBar">
    <ul class="enlaces">
        <li class="liHeader"><a href="">Best sellers</a></li>
        <li class="liHeader"><a href="">Lanzamientos</a></li>
        <li class="liHeader"><a href="">Recomendaciones</a></li>
        <li class="liHeader"><a href="">Clásicos</a></li>
        <li class="liHeader"><a href="">Mis Compras</a></li>
    </ul>
    </div>

</nav>