<nav class="lowerNavBar">
    <ul class="enlaces">
        <li class="liHeader"><a href="/#bestSellers">Best sellers</a></li>
        <li class="liHeader"><a href="/#science">Ciencia</a></li>
        <li class="liHeader"><a href="/#fiction">Ficción</a></li>
        <li class="liHeader"><a href="">Mis Compras</a></li>
    </ul>


</nav>