<div id="quienesSomos">
    <br>
    <p>Juana Mayorga</p>
    <br>
    <p>David Arce</p>
    <br>
    <p>Franco Cona</p>
    <br>
    <p>Ulises Hernandez</p>
    <br>

    <button id="buttonHide" onclick="hide()">X</button>
</div>