<div id="terminos">
    <br>
    <br>
    <h1>Términos y Condiciones de uso Solo Libros</h1>
    <br>
    <h2>INFORMACIÓN RELEVANTE</h2>
    <br>

    <p> Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los
        siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios, así como la
        compra
        de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente
        documento. Todos los productos que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas
        o
        presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y
        Condiciones. Para hacer uso y adquirir un producto en esta página web el usuario debe tener mínimamente 15 años
        y
        asumir el contrato vinculante que se da al hacer uso de la página. Será necesario el registro por parte del
        usuario,
        con ingreso de datos personales fidedignos y definición de una contraseña.</p>
    <br>

    <h2>TÉRMINOS COMERCIALES OFRECIDOS A LOS CLIENTES</h2>

    <br>
    

    <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de
        confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto,
        validación de la forma de pago, validación de la factura y el cumplimiento de las condiciones requeridas por el
        medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo
        electrónico o un mensaje telefónico. Hasta que no se haya hecho efectiva la transacción la empresa no hará envío
        de los productos pedidos.</p>

    <br>

    <p>Una vez realizado el proceso de check out, el pedido no puede cancelarse o modificarse a excepción de la falta o
        falla en los ítems detectados por la empresa. En tal caso se comunicará al cliente y se realizará una
        ponderación para evaluar el cambio o cancelación del pedido con el cliente.</p>

    <br>

    <p>Los productos podrán ser adquiridos únicamente haciendo el pago en Pesos Argentinos, no se permite el pago con moneda
        extranjera. Cualquier dificultad relacionada con el uso de tarjetas o que requieran de algún tipo de devolución
        deberán ser solucionados exclusivamente con el banco del cliente. Overseas Books no se hace responsable por
        transacciones fallidas o debitadas de la cuenta del cliente si es que no llegaron a la cuenta de la empresa. Los
        respaldos de estas transacciones fallidas serán emitidos para facilitar al cliente el trato con su banco, pero
        la empresa Overseas Books no se hará responsable de la devolución del dinero.</p>

    <button id="buttonHide" onclick="hide()">X</button>

</div>