<div id="trabajaConNosotros">
<br>
<br>
<div class="formTrabajarContenedor">
    <h1>Dejanos tus datos para aplicar:</h1>
<form class="formTrabajar">
    <fieldset class="fieldsetTrabajar">
        <p>Nombre:</p>
        <input class="inputTrabajar" type="text" required>
    <p>email:</p>
    <input class="inputTrabajar" type="email" placeholder="johndoe@mail.com" required>
    <p>Subi tu CV:</p>
    <input class="inputTrabajar" type="file" required>
    </fieldset>
  <fieldset class="fieldsetTrabajar">
    <p>Comentarios:</p>
    <textarea class="textComments" cols="60" rows="7"></textarea>
    <br>
    <br>
    <button id="submitButtonFormWork" type="submit">Enviar</button>
  </fieldset>



</form>
</div>
    <br>
    <br>
    <button id="buttonHide" onclick="hide()">X</button>

</div>