.sidebar-card {
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar-card-icon {
    margin-bottom: 10px;
  }
  
  .sidebar-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sidebar-card-content {
    font-size: 24px;
  }
  